body {
  background: #32323e;
  font-family: 'IBM Plex Sans Condensed', sans-serif;
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.main-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5vh 0;
  height: auto;
  box-shadow: 0 12px 20px 0 rgba(0,0,0,0.7);
  transition: 0.3s;
  border: 1px solid grey;
  border-radius: 4px;
  background: rgba(115, 120, 128, 0.5);
  margin: 0 2vw;
  color: #fff;
}

.main-form:hover {
  background: rgba(115, 120, 128, 0.7);
  box-shadow: 0 20px 35px 0 rgba(115, 120, 128, 0.4);
}

.main-form > label {
  font-size: large;
  font-weight: 600;
}

.main-form > input {
  /*background: rgba(115, 120, 128, 0.7);*/
  /*background: inherit;*/
  background: white;
  border-radius: 3px;
  margin: 1vh 3vw;
  color:rgb(171, 173, 175);
}

.main-btn {
  font-family: 'IBM Plex Sans Condensed', sans-serif;
  background-color: rgb(107, 184, 255);
  /*border: 1px solid #006aff;*/
  border: 3px solid #33ffff;
  border-radius: 1rem;
 /* color: #32323e;*/
  color: black;
  /*
  color: rgb(225, 227, 230);
  */
  text-decoration: none;
  height: 38px;
  width: auto;
  max-width: 5rem;
  outline: none;
  font-weight: 500;

  -webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
	
  -webkit-box-shadow: -1px 2px 0px rgb(102, 111, 120);
  -moz-box-shadow: -1px 2px 0px rgb(102, 111, 120);
  box-shadow: -1px 2px 0px rgb(102, 111, 120);
}

.main-btn:hover {
  background: rgb(133, 196, 255);
  color: black;
  transition: all 3s;
}

.main-btn:active {
  /*
  box-shadow: 0 5px #666;
  transform: translateY(4px);
  */
  -webkit-box-shadow: 0px 0px 0px #388bff;
  -moz-box-shadow: 0px 0px 0px #388bff;
  box-shadow: 0px 0px 0px #388bff;
  position:relative;
  top:4px;
}