body {
  background: #32323e;
  font-family: 'IBM Plex Sans Condensed', sans-serif;
}

.view {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.logo {
  color: white;
  font-size: 1.7em;
  font-weight: 500;
  font-style: italic;
  margin-left: 1.3em;
  margin-bottom: 0.2em;
  text-shadow: 0 0 4px #33ffff;
}

.mo-nav {
  width: auto;
  height: 5%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: rgba(115, 120, 128, 0.5);
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.6);
  border-radius: 1rem;
  border: 1px rgb(115, 120, 128);
  position: absolute;
  top: 4em;
}

.mo-nav:hover {
  background: rgba(115, 120, 128, 0.7);
  box-shadow: 0 8px 16px 0 rgba(115, 120, 128, 0.4);
  transition: 0.6s;
}

.logo {
  color: white;
  font-size: 1.7em;
  font-weight: 500;
  font-style: italic;
  margin-left: 1.3em;
  margin-bottom: 0.2em;
  text-shadow: 0 0 4px #33ffff;
}

.mo-nav > a {
  color: #33ffff;
  margin: 0 6vw;
  text-decoration: none;
}

.mo-nav > a:hover {
  color: white;
  transition: 0.6s;
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: #33ffff;
  padding: 14px 16px;
  font-family: inherit; /* Important for vertical align on mobile phones */
  margin: 0; /* Important for vertical align on mobile phones */
}

.dropdown-content {
  display: none;
  position: absolute;
  background: rgb(115, 120, 128);
  border-radius: 1rem;
  min-width: 160px;
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  color: #33ffff;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.nav-red {
  width: auto;
  height: 5%;
  display: flex;
  justify-content: space-evenly;
  margin-top: 3vh;
  align-items: center;
  background: rgba(115, 120, 128, 0.5);
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.6);
  border-radius: 1rem;
  border: 1px rgb(115, 120, 128);
}

.nav-red:hover {
  background: rgba(115, 120, 128, 0.7);
  box-shadow: 0 8px 16px 0 rgba(115, 120, 128, 0.4);
  text-shadow: 1px 1px #32323e;
  transition: 0.6s;
}

.nav-red > a {
  color: rgb(252, 81, 90);
  margin: 0 6vw;
  text-decoration: none;
}

.nav-red > a:hover {
  color: white;
  transition: 0.6s;
}


.btn-red {
  font-family: 'IBM Plex Sans Condensed', sans-serif;
  border: 3px solid rgb(245, 66, 242);
  background: rgb(252, 81, 90);
  border-radius: 1rem;
  color: rgb(61, 61, 61);
  text-decoration: none;
  height: 38px;
  width: auto;
  max-width: 5rem;
  outline: none;
  font-weight: 600;
  -webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
  -webkit-box-shadow: -1px 2px 0px rgb(102, 111, 120);
  -moz-box-shadow: -1px 2px 0px rgb(102, 111, 120);
  box-shadow: -1px 2px 0px rgb(102, 111, 120);
}

.btn-red:hover {
  background: rgb(255, 140, 146);
  color: black;
  transition: all 1s;
}

.btn-red:active {
  -webkit-box-shadow: 0px 0px 0px rgb(248, 41, 255);
  -moz-box-shadow: 0px 0px 0px rgb(248, 41, 255);
  box-shadow: 0px 0px 0px rgb(248, 41, 255);
  position:relative;
  top:4px;
}

.main-btn {
  font-family: 'IBM Plex Sans Condensed', sans-serif;
  background-color: rgb(107, 184, 255);
  border: 3px solid #33ffff;
  border-radius: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5em 0.7em;
  color: black;
: rgb(225, 227, 230);
  text-decoration: none;
  height: auto;
  max-height: 38px;
  width: auto;
  max-width: 5rem;
  outline: none;
  font-weight: 600;
  -webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
  -webkit-box-shadow: -1px 2px 0px rgb(102, 111, 120);
  -moz-box-shadow: -1px 2px 0px rgb(102, 111, 120);
  box-shadow: -1px 2px 0px rgb(102, 111, 120);
}

.main-btn:hover {
  background: rgb(133, 196, 255);
  color: black;
  transition: all 3s;
}

.main-btn:active {
  -webkit-box-shadow: 0px 0px 0px #388bff;
  -moz-box-shadow: 0px 0px 0px #388bff;
  box-shadow: 0px 0px 0px #388bff;
  position:relative;
  top:4px;
}

.card-main {
  height: 350px;
  box-shadow: 0 12px 20px 0 rgba(0,0,0,0.7);
  transition: 0.3s;
  border: 1px solid grey;
  border-radius: 4px;
  background: rgba(115, 120, 128, 0.5);
  margin: 0 2vw;
  color: #fff;
}

.card-main:hover {
  background: rgba(115, 120, 128, 0.7);
  box-shadow: 0 20px 35px 0 rgba(115, 120, 128, 0.4);
}


.card-container {
  padding: 2px 16px;
  line-height: .5em;
  margin-top: -10px;
}

.card-img {
  border-top-right-radius: 3px;
  border-top-left-radius:  .5rem;
  background: rgba(115, 120, 128, 0.7);
  height: 200px;
  border-radius: 4px;
  width: auto;
  padding: 10px 10px;
}

.card-sub {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main-form {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 5vh 4vw;
  height: auto;
  min-width: 500px;
  width: auto;
  box-shadow: 0 12px 20px 0 rgba(0,0,0,0.7);
  transition: 0.3s;
  border: 1px solid grey;
  border-radius: 4px;
  background: rgba(115, 120, 128, 0.5);
  margin: 0 2vw;
  color: #fff;
}

.main-form:hover {
  background: rgba(115, 120, 128, 0.7);
  box-shadow: 0 20px 35px 0 rgba(115, 120, 128, 0.4);
}

label {
  font-weight: bold;
  position: relative;
  text-shadow: 1px 1px rgb(107, 184, 255);
}

.main-form > input {
  background: white;
  border-radius: 3px;
  height: 2em;
  margin: 1vh 0;
  color:rgb(171, 173, 175);
}

.container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 3em;
  background: rgba(115, 120, 128, 0.5);
  box-shadow: 0 12px 20px 0 rgba(0,0,0,0.7);
  transition: 0.3s;
  border: 1px solid grey;
  border-radius: 4px;
  align-items: center;
}

.container:hover {
  background: rgba(115, 120, 128, 0.7);
  box-shadow: 0 20px 35px 0 rgba(115, 120, 128, 0.4);
}

.hero {
  margin-top: 6em;
  padding: 4em 4em;
}

.cssimg {

}
